[defaults]
inventory = inventory.yml
remote_user = root
host_key_checking = False
timeout = 30
retry_files_enabled = False
gather_facts = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
